/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30.10.2017, 12:18:34
    Author     : Hyvon
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/*@font-face {
    font-family: "Roboto light";
    src: url("Roboto-Light.ttf");
}*/
body {
        /*font-family: "roboto light";*/
	line-height: 1;
        text-align: center; /*centers inline-block elements*/
        height: 100%;
}
        
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*ARROWS*/
.arrow {
  border: solid #8fb8cc;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

html {
    font-family: "Roboto", sans serif;
    font-weight: 300;
    width: 100%;
    height: 100%;
    background-color: #193543;
    color: white;
}

div {
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 1.2em;
}

/*NAVIGATION STUFF*/
#navBackground {
    z-index: 98;
    position: absolute;
    top: 0;
    width: 100%;
    height: 109px;
    background-color: rgba(25, 53, 67, 0.5);
}

.topnav {
    z-index: 99;
    position: absolute;
    top: 0;
    right: 100px;
    left: 20px;
    width: 90%;
    min-width: 860px;
    /*background-color: rgba(25, 53, 67, 0.5);*/
    overflow: hidden;
    text-align: right;
    height: 109px;
}

/* Style the links inside the navigation bar */
.topnav a {
    display: inline-block;
    width: 130px;
    color: #8fb8cc;
    padding-top: 44px;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 1em;
    font-family: Roboto;
    font-weight: 400;
    text-align: center;
}

/* Change the color etc of links on hover */
.topnav a:hover {
    color: white;
    transition: 0.4s ease;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}


/*-------- OULU GAMES LOGO ------*/
#logoOG {
    /*background-color: rgba(25, 53, 67, 0.8);*/
    width: 120px;
    height: 120px;
    z-index: 100;
    position: absolute;
    top: 5px;
    left: 5px;
}
#logoOG img {
    width: 100px;
    margin: 0;
    position: absolute;
    left: 0;
}
/*PALLO SLIDESHOW JUTTU*/

.circle-container {
    z-index: 10;
    border-radius: 100%;
    background-color: black;    
    background-position: center;
    background-size: cover;
    height: 280px;
    width: 280px;
    overflow: hidden;
    transition: background-image 0.5s ease;
}
#circle1 {
    position: absolute;
    top: 32%;
    bottom: 10%;
    left: 8%;
}
#circle2 {
    position: absolute;
    top: 32%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#circle3 {
    position: absolute;
    top: 32%;
    bottom: 10%;
    right: 8%;
}

#circle1:hover, #circle2:hover, #circle3:hover {
    box-shadow: 0px 0px 20px 5px #8fb8cc;
}
#circle1:hover > #circle-text1, #circle2:hover > #circle-text2, #circle3:hover > #circle-text3 {
    opacity: 0;
}
#circle-text1, #circle-text2, #circle-text3 {
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
    /*background-color: #8fb8cc;*/
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
#circle-text1 p, #circle-text2 p, #circle-text3 p {
    color: white;
    font-size: 28px;
    text-align: center;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
}
/*PALLUKOIDEN KANSI KUVAT*/
#circle-text1 {
    background-image: url(../img/icon/gamesIcon_Light.svg);
}
#circle-text2 {
    background-image: url(../img/icon/partyIcon_Light.svg);
}
#circle-text3 {
    background-image: url(../img/icon/companyIcon_Light.svg);
}

#videoContainerEtu {
    position: relative;
    width: 100%;
    height: 30em;
    overflow: hidden;
    background-color: black;
}

/*OULU GAMES INFO JUTTU*/
#omniContainer {
    width: 100%;
    height: auto;
}

#oulugamesInfo {
    position: relative;
    width: 80%;
    max-width: 840px;
    height: auto;
    margin: 2em auto;
    text-align: center;
    color: white;
    background-color: #244b5a;
    border: 1px solid #397c8f;
}
#oulugamesH {
    margin: 0 auto;
    padding: 2em;
    color: #8fb8cc;
}
#oulugamesInfoP {
    padding-bottom: 2em;
    padding-right: 1em;
    padding-left: 1em;
    color: white;
}

/*---------- UUTISLOOTAT -----------*/
.fpNews {
    position: relative;
    width: 100%;
    max-width: 1024px;
    min-width: 800px;
    border-top: solid 1px #244b5a;
    border-bottom: solid 1px #244b5a;
    border-left: solid 1px #193543;
    border-right: solid 1px #193543;
    box-sizing: border-box;
    margin: 1em auto;
    display: table;
    transition: 0.1s ease-in-out;
}
.kuvaNews {
    display: table;
    position: relative;
    width: 30%;
    height: 100%;
    padding: 1em 1em 1em 0;
    float: left;
    display: table-cell;
    box-sizing: border-box;
    transition: 0.1s ease-in-out;
}
.kuvaNews img {
    width: 100%;
}
#uutisContainer {
    width: 90%;
    margin: 0 auto;
    max-width: 1024px;
    min-width: 800px;
}
#uutisContainer p {
    text-align: left;
    /*margin-left: 5%;*/
    color: #397c8f;
}
.newsContainer {
    position: absolute;
    left: 30%;
    top: 0;
    padding: 1em 1em 1em 0;
    height: 100%;
    text-align: left;
    box-sizing: border-box;
    display: table-cell;
    transition: 0.1s ease-in-out;
    /*white-space: nowrap;*/
    font-size: 100%;
}
.h1News {
    color: #8fb8cc;
    font-size: 1.4em;
    width: 100%;
}
.h2News {
    color: #397c8f;
    font-size: 1.2em;
    padding-top: 0.5em;
}
.pNews {
    color: white;
    font-size: 1em;
    padding-top: 4%;
}
.fpNews:hover {
    background: #244b5a;
    border: 1px solid #397c8f;
}
.fpNews:hover .kuvaNews {
    margin-left: 1em;
}
.fpNews:hover .newsContainer {
    margin-left: 1em;
}

/*--------- TWITTER FEED*/
#exampleProfile {
    width: 90%;
    margin: 2em auto;
    min-width: 810px;
    max-width: 1024px;
    background-color: #244b5a;
    border: 1px solid #397c8f;
}

#twitterh {
    /*position: absolute;*/
    display: block;
    font-size: 10em;
    color: white;
}

#exampleProfile p, #exampleProfile a {
  font-size: 1em;
  color: white;
}

#exampleProfile a, #exampleProfile a:visited {
  color: #193543;
}

#exampleProfile a:hover {
  color: #8fb8cc;
}

#exampleProfile ul li {
  list-style: none;
  overflow: hidden;
  border: 1px solid #8fb8cc;
  background-color: #397c8f;
  margin: 1em auto;
}
/*#exampleProfile ul li:hover {
  background-color:#f0f3fb;
}*/
#exampleProfile li {
    width: 80%;
    min-width: 800px;
}

.user, .tweet{
  float:left;
}
.timePosted {
    float: right;
}

.user {
  width:25%;
}

.tweet {
  width:60%;
  margin-top: 0.7em;
  padding-bottom: 0.7em;
}

.timePosted {
  width: 10%;
  padding-right: 0.7em;
  margin-top: 0.7em;
}

.user {
  clear:left;
}

.user a {
 width: 100px;
}

.user span span {
  width:100px;
  display:block;
  margin-top:15%;
}

.user img, .user a > span {
  float:left;
}

.interact {
  float:left;
  width:10%;
  margin-top:-7px;
}

.interact a {
  margin-left:5px;
  float:left;
}

.user a > span {
  margin-left:10px;
}

.media img {
  max-width:250px;
  max-height:250px;
}

.tco-hidden{
  display: none;
}

/*BOTTOM BANNERI JA FOOTTER*/

#bottombanner {
    background-color: #244b5a;
    width: 100%;
    border: 1px solid #397c8f;
    margin-top: 2em;
    padding-bottom: 2em;
}
#bottombannerP {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
    color: #8fb8cc;
}
#bottombanner img {
    width: 20%;
    min-width: 120px;
    max-width: 240px;
}
footer {
    position: relative;
    background-color: #244b5a;
    margin-top: 2em;
    border-top: 1px solid #397c8f;
    width: 100%;
    height: 120px;
}
.footerSM {
    position: absolute;
    top: 2%;
    width: 100%;
    list-style: none;
    text-align: center;
}
.footerSM li {
    display: inline;
}
footer p {
    padding-top: 60px;
    color: #8fb8cc;
}

/*PITCH JUTUT*/
#pcContainer {
    width: 80%;
    min-width: 1024px;
    max-width: 1152px;
    height: auto;
    margin: 0 auto;
}
.pitchContainer {
    position: relative;
    display: block;
    width: 480px;
    height: 270px;
    background-size: cover;
    background-color: grey;
    background-position: center;
    overflow: hidden;
    margin-bottom: 2em;
    margin-top: 2em;
    border: solid 1px #397c8f;
}
.pitchContainer a{
    display: block;
    padding: 1em;
}
.pitchl, .pitchMobilel {
    float: left;
}
.pitchr, .pitchMobiler {
    float: right;
}
.pitchTitle, .pitchPara, .pitchContainer a {
    color: white;
}

.pitchCover {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    visibility: hidden;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}
.pitchLink {
    position: relative;
    width: 50%;
    top: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: #397c8f;
    border: 1px solid #8fb8cc;
}
.pitchLink a {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1em 0 1em 0;
}
.pitchTitle {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.pitchTitle a {
    color: #8fb8cc;
    font-size: 1.1em;
}
.pitchPara {
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
.pitchContainer:hover > .pitchCover{
    height: 100%;
    visibility: visible;
    background-color: rgba(0,0,0,0.8);
    transition: 0.3s ease;
}
.pitchContainer:hover .pitchLink {
    top: 25%;
    transition: 0.5s ease;
}
.pitchContainer:hover .pitchTitle {
    top: 50%;
    transition: 0.5s ease;
}
.pitchContainer:hover .pitchPara {
    top: 70%;
    transition: 0.5s ease;
}
.pitchContainer .pitchLink:hover {
    background-color: #8fb8cc;
    border-color: #397c8f;
}

/*Poista mobiili pitchjutut*/
.pitchLinkMob, .pitchParaMob {
    display: none;
}


/*Slideshow stuff*/
.goUp {
    width: 90%;
    margin: 0 auto;
    height: 2em;
    text-align: center;
    padding-top: 1em;
    clear: both;
}

.sscContainer {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    width: 90%;
    max-width: 1120px;
    min-width: 1120px;
    /*height: 477px;*/
    background-color: #244b5a;
    clear: both;
    border: 1px solid #397c8f;
}

.slideshowContainer {
    width: 640px;
    /*height: 30em;*/
    clear: both;
    float: left;
}

.bigSlideContainer {
    position: relative;
    margin: 0;
    width: 640px;
    height: 360px;
}

.smallSlideContainer {
    width: 100%;
    height: 90px;
}

.smallSlide1, .smallSlide2, .smallSlide3, .smallSlide4 {
    float: left;
    margin: 0;
    width: 25%;
    height: 100%;
    background-size: cover;
    filter: brightness(70%);
}

.smallSlide1:hover, .smallSlide2:hover, .smallSlide3:hover, .smallSlide4:hover {
    filter: brightness(100%);
    transition: ease 0.2s;
}

.bigSlide1, .bigSlide2, .bigSlide3, .bigSlide4 {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
}

.prev,
.next {
  z-index: 10;
  position: absolute;
  top: 30%;
  cursor: pointer;
  margin: 0;
  padding: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #193543;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0px 5px 5px 0px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-text-stroke: 1px #8fb8cc;
}
.prev {
    left: 0;
}
.next {
    right: 0;
    border-radius: 5px 0px 0px 5px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.active {
    filter: brightness(100%);
}
/*slideshow GAME INFO STUFF*/

.infoOpener, .infoOpenerLabel {
    display: none;
}
.gameInfo {
    width: 100%;
    height: 100%;
    position: relative;
  }
.gameTitle {
  font-size: 2em;
  text-align: center;
  padding: 1em;
  color: #8fb8cc;
}
.gameSlogan {
    font-size: 1.5em;
    text-align: center;
    padding: 1em;
    color: #397c8f;
}
.gameInfop {
    text-align: center;
    padding: 2em 1em 0 2em;
  }

.ssInfo {
    position: relative;
    width: 480px;
    height: 450px;
    float: right;
}
.infoul {
    position: absolute;
    bottom: 1%;
    width: 100%;
    list-style: none;
    text-align: center;
}
.infoul li {
    display: inline;
}
.logoi {
    width: 32px;
    height: 32px;
    padding: 4px;
}
.logoi:hover {
    width: 40px;
    height: 40px;
    transition: 0.2s ease;
    padding: 0;
}

.ssInfoResp {
    clear: both;
    width: 64px;
    margin: 0 auto;
}
.logoiResp, .logoiRespOpen{
    display: block;
    width: 64px;
    height: 64px;
}
#infoulResp1 {
    display: none;
    transition: 2s ease;
}

/*VIDEO STUFF STARTS HERE*/
#videoContainer {
    position: relative;
    width: 100%;
    height: 30em;
    overflow: hidden;
    background-color: black;
}

#video {
    width: 100%;
}

#imageloopdiv {
    display: none;
    background-image: url(../img/loopimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 14em;
}

/*MAIL FORMSTUFF STARTS HERE*/
#mailformContainer {
    display: block;
    width: 26em;
    height: auto;
    padding: 1em;
    box-sizing: border-box;
    margin: 0 auto;
    clear: both;
}
form {
    width: 100%;
}
input {
    font-family: roboto;
}
.longInput {
    width: 100%;
    height: 14em;
    box-sizing: border-box;
    margin-top: 1.4em;
    clear: both;
}
.mediumInput {
    width: 100%;
    height: 5.5em;
    clear: both;
}
#mediumText {
    height: 6em;
}
.shortInputl, .shortInputr {
    height: 5.5em;
    width: 49%;
}
.shortInputr {
    float: right;
}
.shortInputl {
    float: left;
}
textarea#peliKuvaus, textarea#peliSlogan {
    width: 100%;
    height: 14em;
    font-family: roboto;
    font-size: 1em;
    resize: none;
    font-size: 0.875em;
}
textarea#peliSlogan {
    height: 5.5em;
}
input[type=text], textarea {
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    border: 1px solid #397c8f;
}
input:focus, textarea:focus {
    outline: none;
    -moz-box-shadow: 0 0 8px #8fb8cc;
    -webkit-box-shadow: 0 0 8px #8fb8cc;
    box-shadow: 0 0 8px #8fb8cc;
}
input[type=submit], input[type=reset] {
    background-color: #387c8f;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
input[type=submit]:hover, input[type=reset]:hover {
    background-color: #8fb8cc;
    color: #193543;
}
input[type=submit] {
    float: left;
}
input[type=reset] {
    float: right;
}

/*---- TAPAHTUMA INFO -------*/
#tapahtumaContainer {
    width: 100%;
    display: inline-block;
}
#tapahtumaInfo {
    display: inline-block;
    width: 80%;
    min-width: 570px;
    max-width: 800px;
    margin: 2em auto;
    padding: 2em;
    background-color: #244b5a;
    border: 1px solid #397c8f;
    box-sizing: border-box;
}
#tapahtumaInfo a {
    color: #8fb8cc;
}
.tapahtumaH1 {
    font-size: 1.5em;
    color: #8fb8cc;
    padding-bottom: 0.5em;
}
.tapahtumaH2 {
    font-size: 1.4em;
    color: #397c8f;
    padding-bottom: 0.5em;
}
#tapahtumaP {
    width: 60%;
    float: right;
    text-align: left;
    padding-left: 0.5em;
}
.tapahtumaImg {
    width: 33%;
    padding-bottom: 0.5em;
}
.tapahtumaImg img {
    width: 100%;
}
#gmaps {
    width: 60%;
    min-width: 570px;
    max-width: 570px;
    height: 288px;
    margin: 0 auto;
    border: 1px solid #397c8f;
    box-sizing: border-box;
}

/*INTRODUCTION SPONSORS WHATEVER HERE*/
#intro1 {
    background-image: url("../img/people/Ion.png");
}
#intro2 {
    background-image: url("../img/people/Gaben.png");
}
#intro3 {
    background-image: url("../img/people/Levoranta.png");
}
.introductionContainerLeft, .introductionContainerRight {
    width: 80%;
    min-width: 810px;
    max-width: 1024px;
    height: 180px;
    background-color: #244b5a;
    border: 1px solid #397c8f;
    margin: 1.5em auto;
}
.introductionContainerLeft:hover .introImgLeft, .introductionContainerRight:hover .introImgRight {
    border: 1px solid #8fb8cc;
}
.introductionContainerLeft:hover, .introductionContainerRight:hover {
    border: 1px solid #8fb8cc;
}
.introImgLeft, .introImgRight {
    width: 160px;
    min-width: 160px;
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
    position: relative;
    top: 10px;
    left: 10px;
    border: 1px solid #397c8f;
}
.introImgRight {
    float: right;
    left: -10px;
}
.introTextLeft, .introTextRight {
    width: 80%;
    max-width: 864px;
    height: 100%;
    text-align: center;
}
.introTextLeft {
    float: right
}
.introTextRight {
    float: left;
}
.introh {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #8fb8cc;
}
.introh2 {
    font-size: 1.1em;
    color: #397c8f;
    margin-bottom: 10px;
}
.introp {
    width: 100%;
    margin: 0 auto;
    line-height: 1.2em;
    color: white;
}
.introTextContainer {
    width: 95%;
    height: 95%;
    margin: 0 auto;
}

/*CONTACTINFOBOX STUFF*/
#contactContainer {
    display: inline-block;
    width: 60%;
    max-width: 860px;
    min-width: 34em;
    height: auto;
    min-height: 30em;
    margin: 0 auto;
}
.contactAs {
    width: 40%;
    min-width: 14em;
    max-width: 18em;
    height: auto;
    margin: 0 auto;
    margin-top: 1em;
    line-height: 1.2em;
    border-top: solid 1px #397c8f;
    border-bottom: solid 1px #397c8f;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
}
.contactAs h1 {
    text-align: center;
    color: #8fb8cc;
}
.contactAs a {
    display: block;
    width: 6em;
    margin: 0 auto;
    color: white;
    background-color: #397c8f;
    padding: 1em;
    text-align: center;
}
.contactButton:hover {
    background-color: #8fb8cc;
    color: #193543;
}
#contactAs1 {
    float: left;
}
#contactAs2 {
    float: right;
}

#tuomarit {
    color: #8fb8cc;
    font-size: 1.5em;
    margin: 1em auto;
}
/*Dummy div for script*/
#dummy {
    display: block;
}
    
  @media only screen and (max-width: 1024px) {
      
      #gmaps {
          width: 90%;
          min-width: 300px;
      }
      
      /*--- logo ---*/
      #logoOG {
          width: 20%;
          min-width: 100px;
      }
      #logoOG img {
          width: 100%;
      }

      #videoContainerEtu, #videoContainer {
          height: 20em;
      }
      /*hide navbackground*/
      #navBackground {
          display: none;
      }
          /*NAVIGATION STUFF*/

.topnav {
    width: 100%;
    display: block;
    position: relative;
    left: 0;
    overflow: hidden;
    min-width: 300px;
    height: auto;
    text-align: center;
    background-color: #244b5a;
    border-bottom: 1px solid #397c8f;
    border-top: 1px solid #397c8f;
}

/* Style the links inside the navigation bar */
.topnav a {
    width: auto;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/*NAVIGOINTI BAARI*/
  .topnav a:not(:first-child) {
      display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }    
  .topnav.responsive {
    position: relative;
    /*border: 1px solid white;*/
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    border-bottom: 1px solid #397c8f;
  }

      
      /*HIDE BUBBLES*/
      .circle-container {
          display: none;
      }
      /*Dummy div for script*/
      #dummy {
          display: none;
      }
      
    #contactContainer {
        width: 80%;
    }
    
    /*---------- UUTISLOOTAT -----------*/
    
.fpNews, #uutisContainer {
    max-width: 1024px;
    min-width: 640px;
}

.tabledestroyer {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

    
/*MOBIILI VERSIOT PELIINTROISTA*/

.pitchCover {
    display: none;
}

#pcContainer {
    width: 90%;
    min-width: 700px;
}
.pitchMobile {
    position: relative;
    width: 320px;
    height: 350px;
    background-color: #244b5a;
    border: 1px solid #397c8f;
    margin-top: 1em;
}
.pitchMobilel {
    margin-right: 0.5em;
    margin-left: 1em;
    float: left;
}
.pitchMobiler {
    margin-left: 0.5em;
    margin-right: 1em;
    float: right;
}
.pitchContainer {
    position: absolute;
    top: 0;
    max-width: 320px;
    height: 180px;
    min-height: 180px;
    margin: 0;
    border: 0;
}
.pitchLinkMob {
    display: block;
    position: relative;
    width: 10em;
    top: 56%;
    margin: 0 auto;
    text-align: center;
    background-color: #397c8f;
    border: 1px solid #8fb8cc;
}
.pitchLinkMob:hover > a {
    background-color: #8fb8cc;
}
.pitchLinkMob:hover {
    border-color: #397c8f;
}
.pitchLinkMob a {
    display: block;
    width: 10em;
    height: 100%;
    padding: 1em 0 1em 0;
}
.pitchParaMob {
    display: block;
    position: absolute;
    top: 74%;
    text-align: center;
    margin: 0 1em 0 1em;
}
    
  /*PELIEN ESITTELYLAATIKOT*/
    .sscContainer {
        height: auto;
        margin: 1em auto;
        min-width: 720px;
    }
    .slideshowContainer {
        margin: 1em auto;
        float: none;
        border: 1px solid #397c8f;
    }
    .prev, .next {
        padding-top: 100px;
        padding-bottom: 100px;
        top: 20%;
    }
    .prev{
        padding-right: 200px;
    }
    .next {
        padding-left: 200px;
    }
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0);
    } 
    
    .gameInfo {
      width: 100%;
      height: 100%;
      padding-bottom: 1em;
      }
    .gameTitle {
      font-size: 1.5em;
      text-align: center;
      padding: 0.1em;
    }
    .gameSlogan {
        font-size: 1.3em;
        text-align: center;
        padding: 0.5em;
    }
    .gameInfop {
        text-align: center;
        padding: 1em 1.5em 1em 1.5em;
        margin-bottom: 28px;
      }

    .ssInfo {
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: auto;
        float: none;
        clear: both;
    }
  }
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    
#uutisContainer p {
    margin: 10px 10px 10px 10px;
}
/*--------- TWITTER FEED*/
#exampleProfile {
    width: 100%;
    margin: 2em auto;
    min-width: 300px;
    background-color: #244b5a;
    border: 1px solid #397c8f;
    padding-bottom: 10px;
}

#exampleProfile p, #exampleProfile a {
  font-size: 0.9em;
  color: white;
}

#exampleProfile a, #exampleProfile a:visited {
  color: #193543;
}

#exampleProfile a:hover {
  color: #8fb8cc;
}

#exampleProfile ul li {
  list-style: none;
  overflow: hidden;
  border: none;
  border-top: 1px solid #8fb8cc;
  border-bottom: 1px solid #8fb8cc;
  background-color: #397c8f;
  padding-bottom: 10px;
}
#exampleProfile li {
    width: 100%;
    min-width: 300px;
}

.user {
  float:left;
  width: 25%;
}
.user img {
    width: 50%;
    max-width: 50px;
    border-radius: 50%;
    margin: 10px;
}
.tweet {
    float: right;
    margin-right: 10px;
    width:70%;
    margin-top: 1em;
    padding: 0;
}
.timePosted {
    display: none;
}

.timePosted {
  width: 10%;
  padding-right: 0.7em;
  margin-top: 0.7em;
}

.user span span {
  display: none;
}

.user a > span {
  float: none;
  margin: 0;
}
    
/*Info loota*/
    #oulugamesInfo {
        margin-top: 2em;
        min-width: 300px;
    }
    
    /*Tapahtuma jutut*/

    #tapahtumaInfo {
        position: relative;
        min-width: 300px;
        padding: 5px 0 0 0;
        width: 100%;
        border-left: none;
        border-right: none;
        font-size: 0.9em;
    }
    #tapahtumaP {
        width: 100%;
        float: none;
        padding: 1em 0 2em 0;
    }
    #tapahtumaP p, #tapahtumaP h1, #tapahtumaP h2 {
        width: 90%;
        margin: 0 auto;
    }
    .tapahtumaImg {    
        padding: 0;
        display: inline;
    }
    .tapahtumaImg img {
        width: 85%;
    }
    
/*Bottom banneri ja footter*/
#bottombanner {
    background-color: #244b5a;
    width: 100%;
    border: 1px solid #397c8f;
    margin-top: 2em;
    padding-bottom: 2em;
}
#bottombannerP {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.2em;
    color: #8fb8cc;
}
#bottombanner img {
    width: 20%;
    min-width: 120px;
    max-width: 240px;
}
footer {
    position: relative;
    background-color: #244b5a;
    margin-top: 2em;
    border: 1px solid #397c8f;
    width: 100%;
    height: 120px;
}
.footerSM {
    position: absolute;
    top: 2%;
    width: 100%;
    list-style: none;
    text-align: center;
}
.footerSM li {
    display: inline;
}
    

.goUp {
    width: 100%;
    height: 2em;
    text-align: center;
    padding-top: 1em;
}

/*UUTISET*/
#uutisContainer {
    width: 100%;
    min-width: 340px;
}
.fpNews {
    width: 100%;
    min-width: 340px;
    margin: 0;
    font-size: 80%;
}
.pNews {
    display: none;
}
.h2News {
    color: white;
}
.kuvaNews {
    margin-left: 1em;
}
.newsContainer {
    margin-left: 1em;
}
.fpNews:hover {
    background: #244b5a;
    border: 1px solid #397c8f;
}


    /*SLIDESHOW JUTTUA -------------------
/*Slideshow stuff & game info stuff*/

    .sscContainer {
        height: auto;
        margin: 1em auto;
        min-width: 256px;
        min-height: 144px;
        width: 90%;
        margin: 0;
        margin-bottom: 3em;
    }
    .slideshowContainer {
        border: none;
        width: 100%;
        margin: 0;
        height: 100%;
    }
    .bigSlideContainer {
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
    }
    .smallSlideContainer {
        height: auto;
    }
    .smallSlide1, .smallSlide2, .smallSlide3, .smallSlide4 {
        height: 0;
        padding-bottom: 14.0625%;
    }
    .prev, .next {
        padding: 0;
        padding-top: 16%;
        padding-bottom: 16%;
        top: 20%;
    }
    .prev{
        padding-right: 35%;
        padding-left: 2%;
    }
    .next {
        padding-left: 35%;
        padding-right: 2%;
    }
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0);
    } 
    
    .gameInfo {
      width: 100%;
      height: 100%;
      padding-bottom: 1em;
      }
    .gameTitle {
      font-size: 1.5em;
      text-align: center;
      padding: 0.5em 0 0 0;
    }
    .gameSlogan {
        font-size: 1.3em;
        text-align: center;
        padding: 0.5em;
    }
    .gameInfop {
        text-align: center;
        padding: 0 1.5em 0.5em 1.5em;
      }

    .ssInfo {
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: auto;
        float: none;
        clear: both;
    }

    #ssInfo1, #ssInfo2, #ssInfo3, #ssInfo4 {
        max-height: 0;
        overflow: hidden;
    }
    .ssInfo {
        font-size: 100%;
    }

    .infoOpener {
        display: none;
    }

    .infoOpenerLabel {
        background: #397c8f;
        width: 100%;
        height: 40px;
        display: block;
        cursor: pointer;
        position: absolute;
        top: 100%;
        z-index: 10;
        text-align: center;
        font-size: 1.5em;
        line-height: 1.7em;
        }

    #infoOpener1:checked ~ #ssInfo1 {
        height: auto;
        max-height: 600px;
        transition: max-height 1.2s ease;
    }
    #infoOpener2:checked ~ #ssInfo2 {
        height: auto;
        max-height: 600px;
        transition: max-height 1.2s ease;
    }
    #infoOpener3:checked ~ #ssInfo3 {
        height: auto;
        max-height: 600px;
        transition: max-height 1.2s ease;
    }
    #infoOpener4:checked ~ #ssInfo4 {
        height: auto;
        max-height: 600px;
        transition: max-height 1.2s ease;
    }

  
/*  BANNERI KUVA/VIDEO JUTTUA*/
    #videoContainer, #videoContainerEtu {
        height: auto;
    }
    #video {
        width: 100%;
        display: none;
    }
    #imageloopdiv {
        display: block;
    }
    #mailformContainer {
        width: 100%;
    }
    
    /*HENKILÖESITTELY JUTTUA*/
    .introductionContainerLeft, .introductionContainerRight {
        width: 90%;
        min-width: 320px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 1em;
        margin-top: 1em;
    }
    .introImgLeft, .introImgRight {
        margin: 0 auto;
        margin-top: 1em;
        width: 10em;
        height: 10em;
        float: none;
        top: 0;
        left: 0;
        right: 0;
    }
    .introTextLeft, .introTextRight {
        float: none;
        margin: 0 auto;
    }
    .introTextContainer {
        padding-bottom: 1em;
    }
    
    /*YHTEYDENOTTO JUTTUA*/
    #contactContainer {
        display: block;
        width: 90%;
        min-width: 12em;
        height: auto;
        min-height: 30em;
        margin: 0 auto;
        margin-top: 1em;
        margin-bottom: 1em;
}
    .contactAs {
        display: block;
        width: 80%;
        min-width: 12em;
        height: auto;
        
    }
    .contactAs a {
        width: 6em;
        margin: 0 auto;
        color: white;
        padding: 1em;
        text-align: center;
    }
    #contactAs1, #contactAs2 {
        float: none;
        margin: 1em auto;
    }
    
    #mailformContainer {
        width: 90%;
    }
    
 /*MOBIILI VERSIOT PELIINTROISTA*/

#pcContainer {
    width: 100%;
    min-width: 320px;
    margin-top: 1em;
}
.pitchMobile {
    position: relative;
    width: 320px;
    height: 240px;
    float: none;
    margin: 1em auto 0 auto;
    clear: both;
}
.pitchContainer {
    position: absolute;
    top: 0;
    width: 320px;
    height: 180px;
    margin: 0;
    border: 0;
}
.pitchLinkMob {
    position: relative;
    width: 10em;
    top: 77.4%;
    margin: 0 auto;
    text-align: center;
    background-color: #397c8f;
    border: 1px solid #8fb8cc;
}
.pitchLinkMob a {
    display: block;
    width: 10em;
    height: 100%;
    padding: 1em 0 1em 0;
}
.pitchParaMob {
    display: none;
}

}
  
  #pitch1 {
      background-image: url(../img/pelikuvat/Battleblocks_Theater/bb5.jpg)
  }
  #pitch2 {
      background-image: url(../img/pelikuvat/Limbo/Limbo.jpg)
  }
  #pitch3 {
      background-image: url(../img/pelikuvat/Overcooked/Overcooked-Banner.jpg)
  }
  #pitch4 {
      background-image: url(../img/pelikuvat/Supermeatboy/SuperMeatBoy.jpg)
  }
  /*SLIDES HERE*/
  /*GAME 1*/
#g1smallSlide1, #g1bigSlide1 {
    background-image: url(../img/pelikuvat/Battleblocks_Theater/bb5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#g1smallSlide2, #g1bigSlide2 {
    background-image: url(../img/pelikuvat/Battleblocks_Theater/bb3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#g1smallSlide3, #g1bigSlide3 {
    background-image: url(../img/pelikuvat/Battleblocks_Theater/bb4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#g1smallSlide4, #g1bigSlide4 {
    background-image: url(../img/pelikuvat/Battleblocks_Theater/bb2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/*GAME 2*/
#g2smallSlide1, #g2bigSlide1 {
    background-image: url(../img/pelikuvat/Limbo/Limbo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#g2smallSlide2, #g2bigSlide2 {
    background-image: url(../img/pelikuvat/Limbo/Limbo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#g2smallSlide3, #g2bigSlide3 {
    background-image: url(../img/pelikuvat/Limbo/Limbo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#g2smallSlide4, #g2bigSlide4 {
    background-image: url(../img/pelikuvat/Limbo/Limbo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/*GAME 3*/
  #g3smallSlide1, #g3bigSlide1 {
    background-image: url(../img/pelikuvat/Overcooked/Overcooked-Banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
#g3smallSlide2, #g3bigSlide2 {
    background-image: url(../img/pelikuvat/Overcooked/Overcooked1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#g3smallSlide3, #g3bigSlide3 {
    background-image: url(../img/pelikuvat/Overcooked/Overcooked2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#g3smallSlide4, #g3bigSlide4 {
    background-image: url(../img/pelikuvat/Overcooked/Overcooked3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/*GAME 4*/
  #g4smallSlide1, #g4bigSlide1 {
    background-image: url(../img/pelikuvat/Supermeatboy/SuperMeatBoy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
#g4smallSlide2, #g4bigSlide2 {
    background-image: url(../img/pelikuvat/Supermeatboy/SMB1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#g4smallSlide3, #g4bigSlide3 {
    background-image: url(../img/pelikuvat/Supermeatboy/SMB2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#g4smallSlide4, #g4bigSlide4 {
    background-image: url(../img/pelikuvat/Supermeatboy/SMB3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
  

/*Fontin skaalautuminen*/
@media all and (max-width: 400px) and (min-width: 100px) {
    .sscContainer {
        font-size: 4vw;
    }
}


  